label.required:after {
	content:"(*)";
	color:red;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
}
label.ok {
	background:url("../images/valid.gif") no-repeat;
	padding-left:16px;
}
label.error {
	color:#d00;
	text-transform:none;
	margin-left:6px;
}
label.choice {
	vertical-align:middle;
	font-weight:normal;
	text-transform:none;
}